- var isImage = (art.image != 'undefined')
div.masonry-item.masonry-item-post
  div.card
    div.card-bg(style= isImage ? "background-image: url('./images/" + art.image + "');" : "")
      div.wrapper-pad.flex-center.text-center
        div(class="wrapper " + (isImage ? "primary" : ""))
          h2=art.day
          h3=art.month
          h6=art.year
    div.card-post
      div.wrapper-pad
        div.textbox
          h4
            a(href="articles/" + art.title)=art.title
          p=art.content
